{
  "presets": [
    "node5",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-es2015-object-super",
    "transform-flow-strip-types"
  ]
}
